.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  z-index: 9999;
  border: 1px solid #646cff;
}

.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-close {
  float: right;
  background-color: white;
  border-radius: 0.5rem;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: -0.5rem;
  margin-right: -0.5rem;
  margin-top: -1rem;
  margin-right: -1rem;
  border: 1px solid transparent;
}

.popup-close:hover {
  border: 1px solid #DC3545;
}

.blur {
  background-color: #04203371 ;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
}
.closePopup *{
    display: none;
}

.modal-form-container{
  width: 270px;
}
.modal-form-container .input-wrapper input{
  width: 270px;
}
.modal-form-container input{
  width: 270px;
}