.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
th, td {
  padding: 1rem;
}
td{
  border: 1px solid #646cff;
}
.action:hover {
  color: #DC3545;
  cursor: pointer;
}
thead tr{
  background-color: #646cff;
}
.color-car{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}
.color-cirle{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
button.load-more{
  width: 100%;
}